#isotope-container
	overflow initial !important
#isotope-container .isotope-item
	transform none !important
#home-nicorette
	display block
div#node-container
#isotope-container .content
	background-color #fff !important
.body-item .content .field-type-text-long
	padding 0
#node-header
	display none
#isotope-container
	max-width 100%
	min-width 100%
	height auto !important
	+above(641px)
		margin-top 71px

html.chrome #main-content sup
html #main-content sup
	position inherit
	vertical-align 0 !important

#isotope-container .body-item
	width 100%
	margin 0

#header div.bg-header
	opacity  1 !important
