/* Color Palettes */

/* Text Colors */
$textRed  = red;
$textGray = #ccc;

/* Background's Colors */
$bgRed  = red;
$bgGray = #ccc;

/* PATH's */

/*Path Prod
$pathrel   = '/sites/default/files/content-images/internas/nicorette/desafio/assets/'
$pathfont  = '/sites/default/files/content-images/internas/nicorette/desafio/assets/'
*/
/*Path Local*/
$pathrel   = '../'
$pathfont  = '../'
