div#node-container
	background none !important
	background-color #fff !important
	margin-top 118px
	+above(641px)
		margin-top 125px
	+above(1920px)
		margin-top 91px
.body-item
	.content
		background none !important
.body-item .content .field-type-text-long
	padding 0
#page-title-container
	display none
.open.open-mobile-w-2
.mobile-w-2
	width 100% !important
#isotope-container .isotope-item
	transform none !important
	margin 0 !important
#node-header
	height 0 !important
