div#node-container,
#isotope-container .content {
	background-color: #fff !important;
}
.body-item .content .field-type-text-long {
	padding: 0;
}
#node-header,
.seo-text-density-field {
	display: none;
}
#isotope-container {
	margin-top: 0;
	max-width: 100%;
	min-width: 100%;
}
#isotope-container .body-item {
	width: 100%;
	margin: 0;
}
@media(min-width: 640px){
	#isotope-container {
		margin-top: 125px;
	}
}
@media(min-width: 1920px){
	#isotope-container {
		margin-top: 91px;
	}
}
#header div.bg-header {
opacity: 1 !important;
}
