@font-face {
	font-family: 'helvetica';
	src: url($pathfont+'fonts/helvetica.woff') format('woff'),
		url($pathfont+'fonts/helvetica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticath';
	src: url($pathfont+'fonts/helveticath.woff') format('woff'),
		url($pathfont+'fonts/helveticath.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaul';
	src: url($pathfont+'fonts/helveticaul.woff') format('woff'),
		url($pathfont+'fonts/helveticaul.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'helveticalt';
	src: url($pathfont+'fonts/helveticalt.woff') format('woff'),
		url($pathfont+'fonts/helveticalt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
