/** 
  @font-face site Arno e Rochedo 
    https://lion.box.com/s/ymhuwt6sr5bj096wojqkb5e4y9rrvtdi    

  font-family portal
    EurostileNextLTPro-Light
    EurostileNextLTPro-Regular
    EurostileNextLTPro-SmBd
**/

@font-face 
  font-family 'knockout48'
  src url($fontKnockout48) format('woff')
  font-weight normal
  font-style normal

@font-face 
  font-family 'knockout49'
  src url($fontKnockout49) format('woff')
  font-weight normal
  font-style normal

@font-face 
  font-family 'MisterK'
  src url($fontMisterK) format('woff')
  font-weight normal
  font-style normal

@font-face 
  font-family 'knockout27'
  src url($fontKnockout27) format('woff')
  font-weight 500
  font-style normal
