
$bannerdesk = ''
$bannermob  = ''

$fontKnockout27 = '/medias/Knockout-HTF27-JuniorBantamwt.woff?context=bWFzdGVyfHJvb3R8MTU3MTZ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfGgyMy9oYjgvMTI4MjE2NzQ0OTE5MzQuYmlufDU4Zjg2M2JkNGU2YTc1NDU4Zjk4NzE4YmVmMzViMmUwMjQxNWNjZmMwMzIzMTNjM2FkYmI4MWU3MjgyMmI1ZTA'
$fontKnockout47 = '/medias/Knockout-HTF47-Bantamweight.woff2?context=bWFzdGVyfGZvbnRzfDExNzQ4fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxmb250cy9oYzUvaGE0LzkxODAzMjAwNzE3MTAuYmlufGViNjU5N2Q5MmE5OTg0MzJhNDc5ZGM1ZDE4MWViNjBjNWIyNGQ5YjRiYThiNGNhYWRmNjY5YWNkMGJhNjA3YjY'
$fontKnockout48 = '/medias/Knockout-48Featherweight.woff?context=bWFzdGVyfHJvb3R8MjA3NzZ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfGhiMC9oZDIvMTI4MjAyMTI2Nzg2ODYuYmlufDJlYjViMjg1MDNkMGNmZGM5NDI2NWMwMzZiNmY3OGQ5ZjYxNTM0NzZhMWRjNDdjNTFmYTBkZTZmNWE0ODI3ZGE'
$fontKnockout49 = '/medias/Knockout-49Liteweight.woff?context=bWFzdGVyfHJvb3R8MjEwMTJ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfGhlNC9oNWIvMTI4MjAyMTI3NzY5OTAuYmlufDhlZmY0ZTNiOGE5NDYyZTMyZDAxYWU0MTc1MDFkNDQ0OWU2YjMwYTViNDMwMDExMDI4ODU3MzAzOGFkYzYwYjk'
$fontMisterK    = '/medias/MisterK.woff?context=bWFzdGVyfHJvb3R8NDEzNzJ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfGg4ZS9oOTAvMTI4MjAyMTI4NzUyOTQuYmlufGJjMGRiMGE4NjEzZGIzZTViNzlmZTBkYTcwOGQ3Njg3YTBlZjJmMzBkYzgxZDk5OTFhNTc0N2Y0ZDQwYTU3ZmE'