// $bannerdesk = '../assets/images/bg/banner-desk.jpg'
// $bannermob  = '../assets/images/bg/banner-mob.jpg'

$fontKnockout27 = '../assets/fonts/KnockoutHTF27JuniorBantamwt.woff'
$fontKnockout48 = '../assets/fonts/Knockout48Featherweight.woff'
$fontKnockout49 = '../assets/fonts/Knockout49Liteweight.woff'
$fontMisterK    = '../assets/fonts/MisterK.woff'
