@import 'kouto-swiss'
@import '../core/_vars'
@import '../core/_mixins'

meyer-reset()
box-sizing-reset()

header
  background inherit
  box-shadow none
  display inherit
  margin auto
  height auto
  padding inherit
  position static
  transition none
  z-index 0

