@import 'kouto-swiss'
@import 'core/_vars'
@import 'core/_mixins'
@import 'core/font'
// @import 'sprite'

#<%= appName %>

  @import 'core/reset'
  @import 'components/intro'

  position relative
  margin 0 auto
  font-size 16px
  line-height 1
  overflow hidden

  +above(940px)
    max-width 940px

  // Aplicar em todas as chamadas de font-family
  // -webkit-font-smoothing antialiased 
  // -moz-osx-font-smoothing antialiased 
