/** 
  @font-face site Arno e Rochedo 
    https://lion.box.com/s/ymhuwt6sr5bj096wojqkb5e4y9rrvtdi    

**/

@font-face 
  font-family 'knockout27'
  src url('../assets/fonts/KnockoutHTF27JuniorBantamwt.woff') format('woff')
  font-weight 500
  font-style normal

@font-face 
  font-family 'knockout48'
  src url('../assets/fonts/Knockout48Featherweight.woff') format('woff')
  font-weight normal
  font-style normal

@font-face 
  font-family 'knockout49'
  src url('../assets/fonts/Knockout49Liteweight.woff') format('woff')
  font-weight normal
  font-style normal

@font-face 
  font-family 'misterk'
  src url('../assets/fonts/MisterK.woff') format('woff')
  font-weight normal
  font-style normal

// @font-face 
//   font-family 'misterkot'
//   src url('../assets/fonts/MisterKOT.woff') format('woff')
//   font-weight normal
//   font-style normal

// @font-face 
//   font-family 'eurosmbd'
//   src url('../assets/fonts/EurostileNextLTProSmBd.woff') format('woff')
//   font-weight 600
//   font-style normal

// @font-face 
//   font-family 'eurobd'
//   src url('../assets/fonts/EurostileNextLTProBold.woff') format('woff')
//   font-weight bold
//   font-style normal

// @font-face 
//   font-family 'euroregular'
//   src url('../assets/fonts/EurostileNextLTProRegular.woff') format('woff')
//   font-weight normal
//   font-style normal

// @font-face 
//   font-family 'eurolt'
//   src url('../assets/fonts/EurostileNextLTProLight.woff') format('woff')
//   font-weight 300
//   font-style normal

// @font-face 
//   font-family 'euroullt'
//   src url('../assets/fonts/EurostileNextLTProUltLight.woff') format('woff')
//   font-weight 200
//   font-style normal



